################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventorySystemManagement/.vs/InventorySystemManagement/v15/Server/sqlite3/db.lock
